* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color:white;
  background-color: #434387;
  margin-top: 20px;
}
h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.App {
  max-width: 600px; 
  margin: 3rem auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('./imagenes/to-do.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.contenedor-logo {
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
}

h1 {
  color: #211761;
}

